.WatchListPageHeader {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0;
  }
  &__status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}