$font-regular: DIN Next TR Regular, -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$font-medium: DIN Next TR Medium, -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$font-bold: DIN Next TR Bold, -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$text-colour--primary: #2d3748;
$text-colour--secondary: #a0aec0;
$background-colour--primary: #f8f9fa;
$background-colour--secondary: #fff;
$colour--completed: #48bb78;
$colour--unfinished: #fb7e7e;
$box-shadow--default: 0 4px 6px 0 rgba(0, 0, 0, 0.02);
$box-shadow--default: 0 4px 6px 0 rgba(0, 0, 0, 0.02);
$border--default: 1px solid #e2e8f0;
$border--thin: 0.5px solid #e2e8f0;
$font-size--small: 12px;
$font-size--medium: 14px;
$font-size--large: 18px;
$border-radius--small: 12px;
$border-radius--large: 16px;
$border-radius--round: 50%;
$small-screen: 679px;
$medium-screen: 1024px;
$large-screen: 1280px;
$extra-large-screen: 1600px;
$color-primary: rgba(27, 164, 255, 0.5);
$color-primary--highlight: rgba(27, 164, 255, 0.9);
$color-danger: rgba(255, 78, 78, 0.5);
$color-danger--highlight: rgba(255, 78, 78, 0.9);